@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator {
  background-color: #111;
  color: #0f0;
  padding: 20px;
  border-radius: 10px;
}

.display {
  background-color: #f00;
  color: #800080;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
